<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <h3 class="footer-title">{{site.title}}</h3>
          <ul>
            {% if site.data.social %}
            {% include social.html %}
            {% endif %}
            {% if site.footer.copyright_text %}
            <div class="copyright">{{ site.footer.copyright_text }}</div>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>